<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Página do Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Visualizações</ion-label>
  <ion-badge slot="start">10000</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Usuários inscritos</ion-label>
  <ion-bagde slot="end">7200</ion-bagde>
</ion-item>
  <ion-label>Visitantes</ion-label>
  <ion-badge slot="start">100000</ion-badge>
</ion-item>
<ion-item>
  <ion-label>Vídeos</ion-label>
  <ion-bagde slot="end">53</ion-bagde>
</ion-item>
</ion-item>
<ion-label>Likes</ion-label>
<ion-badge slot="start">100000</ion-badge>
</ion-item>
<ion-item>
<ion-label>Dislikes</ion-label>
<ion-bagde slot="end">53</ion-bagde>
</ion-item></ion-item>
<ion-label>Comentários</ion-label>
<ion-badge slot="start">100000</ion-badge>
</ion-item>
<ion-item>
<ion-label>Playlist</ion-label>
<ion-bagde slot="end">53</ion-bagde>
</ion-item></ion-item>
<ion-label>Vídeos salvos</ion-label>
<ion-badge slot="start">100000</ion-badge>
</ion-item>
<ion-item>
<ion-label>Compartilhados</ion-label>
<ion-bagde slot="end">53</ion-bagde>
</ion-item></ion-item>
<ion-label>Recomendações</ion-label>
<ion-badge slot="start">100000</ion-badge>
</ion-item>
<ion-item>
<ion-label>Corações</ion-label>
<ion-bagde slot="end">53</ion-bagde>
</ion-item>
</ion-content>
