<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-buttom></ion-menu-buttom>
    </ion-buttons>
    <ion-title>Página de alertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button expand="Add" color="secondary" (click)="alert()">Alerta</ion-button>
<ion-button expand="Block" color="primary" (click)="alerta()">Bloquear</ion-button>
<ion-button expand="Warning" color="primary" (click)="alertaMultiplosBotoes()">Aviso múltiplo</ion-button>

</ion-content>
